body {
    margin: 0px;
    display: flex;

    background-color: #eee;

    word-wrap: break-word;
    font-family: "Cantarell";

    div#sidemenu {
        height: 100vh;
        width: 48px;

        background-color: #ddd;
    }

    div#center {
        margin: 0px auto;

        div#scroll {
            height: 100vh;
            margin: 0px 8px 0px 16px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 8px;

                background-color: transparent;
            }

            &::-webkit-scrollbar-track {
                margin: 8px 0px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
            }

            div#main {
                max-width: 600px;
                margin: 8px;

                display: flex;
                flex-direction: column;
                row-gap: 8px;

                div#sortmenu {
                    padding: 8px;

                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    background-color: #ddd;
                    border-radius: 4px;

                    div#minilist-sorting {
                        display: flex;
                        gap: 8px;

                        select {
                            all: unset;
                            padding: 8px;

                            flex: 1;

                            text-align: center;

                            background-color: #eee;
                            border-radius: 4px;

                            cursor: pointer;
                        }
                    }

                    div#searchbar-row {
                        display: flex;
                        gap: 8px;

                        div#searchbar {
                            padding: 8px;

                            background-color: #eee;
                            border-radius: 4px;

                            flex: 3;

                            input {
                                all: unset;
                                width: -webkit-fill-available;
                            }
                        }

                        div#search-button,
                        div#advanced-toggle {
                            padding: 8px;

                            flex: 1;

                            text-align: center;

                            background-color: #eee;
                            border-radius: 4px;

                            cursor: pointer;
                        }
                    }

                    div#advanced-options {
                        display: none;
                    }

                    div#folderlist {
                        padding: 8px;

                        background-color: #eee;
                        border-radius: 4px;

                        div.folder {
                            margin-bottom: -8px;

                            div.content {
                                padding: 8px;

                                background-color: #ddd;
                                border-radius: 4px;

                                text-transform: capitalize;
                            }

                            div.folder {
                                margin: 8px 0px 8px 32px;
                            }
                        }
                    }
                }


                div.minilist {
                    padding: 8px;

                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;

                    border-radius: 4px;

                    div.header {
                        span.title {
                            margin-right: 4px;

                            font-size: 14px;
                            font-weight: bold;
                        }

                        span.date {
                            display: inline-block;
                            margin-right: 4px;
                        }
                    }

                    div.entry {
                        padding: 8px;

                        cursor: pointer;

                        border-left: 8px solid;
                        border-radius: 4px;

                        &.expanded {
                            div.note {
                                display: block;
                            }
                        }

                        div.note {
                            margin-top: 8px;
                            padding: 8px;

                            display: none;
                            cursor: default;

                            border-radius: 4px;

                            textarea {
                                all: unset;
                                width: -webkit-fill-available;

                                cursor: text;

                                &::-webkit-scrollbar {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
