:root {
    --background-color: #eeeeee;
    --mid-back-color: #000000;
    --midground-color: #e3e3e3;
    --mid-front-color: #000000;
    --foreground-color: #d8d8d8;
    --cover-color: rgba(0, 0, 0, 0.5);
}
