body {
    margin: 0px;
    display: flex;

    background-color: var(--background-color);

    word-wrap: break-word;
    font-family: "Cantarell";

    div#sidemenu {
        height: 100vh;
        width: 48px;

        background-color: var(--foreground-color);
    }

    div#center {
        margin: 0px auto;

        div#scroll {
            height: 100vh;
            margin: 0px 8px 0px 16px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 8px;

                background-color: transparent;
            }

            &::-webkit-scrollbar-track {
                margin: 8px 0px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--foreground-color);
            }

            div#main {
                max-width: 600px;
                margin: 8px;

                display: flex;
                flex-direction: column;
                row-gap: 8px;

            }
        }
    }
}
